.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.subheading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  color: #3A5D3A;
  margin-top: 30px;
}

.heading {
  font-size: 40px;
  color: #3A5D3A;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
  max-width: 800px; /* Ajusta el ancho para un mejor efecto */
  margin-bottom: 50px;
  margin-left: 200px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  max-width: 350px;
  text-align: left;
  transition: transform 0.3s ease, opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.opciones {
  margin-top: 20px;
  text-align: left;
}

.opcion {
  border-bottom: 2px solid #3A5D3A;
  padding: 12px 0;
}

.opcionTitulo {
  background: none;
  border: none;
  color: #3A5D3A;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 12px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.opcionTitulo::before {
  content: "▶"; /* Flecha cerrada */
  font-size: 16px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

.opcionTitulo.activo::before {
  content: "▼"; /* Flecha abierta */
  
}


.opcionContenido {
  font-size: 16px;
  color: #3A5D3A;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 12px; /* Espaciado interno */
}

.mostrar {
  max-height: 500px; /* Ajusta según el contenido */
  padding: 10px 12px;
}



.button {
  margin-top: 150px; /* Espaciado superior */
  margin-bottom: 150px; /* Espaciado inferior */
  padding: 16px 32px; /* Ajuste del tamaño interno */
  background: #3A5D3A; /* Fondo verde oscuro */
  color: #FFFFFF; /* Texto blanco */
  font-family: "Arial", sans-serif; /* Fuente moderna y limpia */
  font-size: 18px; /* Tamaño del texto */
  border: none; /* Sin bordes oscuros */
  border-radius: 15px; /* Bordes redondeados, igual a la foto */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  text-transform: uppercase; /* Texto en mayúsculas */
  cursor: pointer; /* Indicador de interactividad */
  transition: background 0.3s, box-shadow 0.3s; /* Animación en hover */
  
}

.button:hover {
  background: #123524; /* Fondo verde más oscuro al pasar el cursor */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}
