.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  font-family: "AcuminRPro", sans-serif;
  z-index: 1000;
  transition: padding 0.3s ease, height 0.3s ease;
}

/* Cuando el header se achica */
.shrink {
  padding: 5px 20px;
}

/* Navegación oculta en modo reducido */
.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Logo */
.logo img {
  height: 60px;
  transition: height 0.3s ease;
}

.shrink .logo img {
  height: 40px;
  margin-bottom: -15px;
  margin-top: 5px;
}

/* Línea divisoria */
.divider {
  width: 100vw;
  height: 1px;
  background-color: #e0e0e0;
  margin: 5px 0;
  transition: opacity 0.3s ease;
}

.shrink .divider {
  opacity: 0;
}

/* Navegación */
.navList {
  list-style: none;
  display: flex;
  gap: 35px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navList li {
  position: relative;
  padding-bottom: 5px;
}

.navList li a {
  text-decoration: none;
  color: #f2f0eb;
  font-size: 1rem;
  position: relative;
  padding: 5px 0;
  display: inline-block;
  transition: color 0.3s ease;
}

.navList li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f2f0eb;
  transition: width 0.3s ease-in-out;
}

.navList li a:hover::after,
.navList li a.active::after {
  width: 100%;
}

.navList li a.active {
  color: #ffffff;
}

.shrink .logo {
  margin-top: 5px;
  margin-bottom: -10px;
  transition: margin-top 0.3s ease;
}
