.quizContainer {
  background-size: cover;
  background-position: center;
  color: #161616;
  text-align: center;
  padding: 50px 20px;
}

/* Cuadro del contenido */
.quizBox {
  background-size: contain;
  background-repeat: no-repeat;
  width: 670px;
  height: 500px;
  margin: 0 auto 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido del cuadro */
.quizContent {
  margin-bottom: 50px;
  text-align: center;
  max-width: 65%;
}

.quizContent h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.quizContent p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  margin: 20px;
  margin-bottom: 25px;
}

.semibold {
  font-weight: bold;
}

.quizButton {
  background-color: #1b4f3c;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 20px;
}

.quizButton::after {
  content: ">";
  margin-left: 20px;
}

.quizButton:hover {
  background-color: #227657;
  transform: scale(1.02);
}

/* Contenedor de imágenes */
.quizImages {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.quizImageContainer {
  padding: 5px;
  transition: transform 0.3s ease;
}

.quizImageContainer:hover {
  transform: translateY(-10px);
}

/* Estilo de las imágenes */
.quizImage {
  width: 120px;
  height: 300px;
  object-fit: cover;
  object-position: 40%;
  transition: transform 0.3s ease;
}

.quizImage:hover {
  transform: scale(1.5);
  z-index: 2;
}
