.blog {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.blog h2 {
  font-size: 50px;
  margin-top: 60px;
  font-family: "VeryVogueText", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: none;
}

.blog em {
  font-style: italic;
  font-family: "VeryVogueTextItalic", sans-serif;
}

.blogCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselButton {
  background: none;
  border: none;
  font-size: 40px; /* Tamaño similar a "Servicios" */
  border-radius: 20px;
  cursor: pointer;
  color: #3A5D3A; /* Color similar */
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.carouselButton:hover {
  transform: scale(1.2); /* Efecto de agrandamiento */
  opacity: 1;
}

.blogItem {
  margin: 60px 30px;
  text-align: left;
  position: relative;
}

.blogItem img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center 10%;
}

.blogCategory {
  font-weight: bold;
  font-size: 15px;
  color: black;
  position: absolute;
  bottom: 60px;
  left: 10px;
  background-color: #f2f0eb;
  padding: 5px 10px;
  text-transform: uppercase;
}

.blogItem h3 {
  font-size: 20px;
  margin: 5px 0;
}

.blogItem p {
  font-size: 12px;
  color: gray;
}




@media (max-width: 768px) {
  .blog h2 {
    font-size: 28px;
    margin-top: 40px;
  }

  .blogCarousel {
    flex-direction: column;
    gap: 20px;
  }

  .blogItem {
    margin: 20px 0;
    text-align: center;
    position: relative; /* Para posicionar elementos dentro */
    display: inline-block; /* Mantiene el tamaño adecuado */
  }

  .blogItem img {
    width: 300px;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .blogCategory {
    font-size: 12px;
    position: absolute; /* Se coloca sobre la imagen */
    bottom: 60px; /* Pegado a la parte inferior */
    left: 10px; /* Pegado al lado izquierdo */
    background: rgba(242, 240, 235, 0.8);
    color: black;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 4px;
    z-index: 10; /* Asegura que quede sobre la imagen */
  }

  .blogItem h3 {
    font-size: 16px;
    margin: 10px 0;
  }

  .blogItem p {
    font-size: 10px;
  }

  .carouselButton {
    font-size: 40px;
    display: none;
  }
}

