@font-face {
  font-family: 'AcuminBdItPro';
  src: url('./assets/fonts/Acumin-BdItPro.otf') format('opentype');
}

@font-face {
  font-family: 'AcuminBdPro';
  src: url('./assets/fonts/Acumin-BdPro.otf') format('opentype');
}

@font-face {
  font-family: 'AcuminItPro';
  src: url('./assets/fonts/Acumin-ItPro.otf') format('opentype');
}

@font-face {
  font-family: 'AcuminRPro';
  src: url('./assets/fonts/Acumin-RPro.otf') format('opentype');
}

@font-face {
  font-family: 'ClassyVogue';
  src: url('./assets/fonts/ClassyVogue.otf') format('opentype');
}

@font-face {
  font-family: 'Vogue';
  src: url('./assets/fonts/Vogue.ttf') format('truetype');
}

@font-face {
  font-family: 'very-vogue-text';
  src: url('./assets/fonts/very-vogue-text.otf') format('opentype');
}

@font-face {
  font-family: 'vogue-text-italic';
  src: url('./assets/fonts/vogue-text-italic.otf') format('opentype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Añadir esto asegura que padding y border estén incluidos en las dimensiones */
}

/* App.css */
html, body {
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La página ocupa al menos toda la altura de la pantalla */
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Asegura que el contenido crezca */
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Crece para ocupar el espacio */
}

