* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Añadir esto asegura que padding y border estén incluidos en las dimensiones */
}

/* App.css */
html, body {
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La página ocupa al menos toda la altura de la pantalla */
  padding-top: 100px; /* Ajusta este valor según la altura inicial del header */
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Asegura que el contenido crezca */
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Crece para ocupar el espacio */
}

.fadeIn {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Cargar fuentes locales */
@font-face {
  font-family: 'Acumin Pro Semibold';
  src: url('./assets/fonts/AcuminPro-Semibold-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Pro Thin';
  src: url('./assets/fonts/AcuminPro-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Pro Bold';
  src: url('./assets/fonts/AcuminPro-Bold.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Pro';
  src: url('./assets/fonts/Acumin-RPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Very Vogue';
  src: url('./assets/fonts/very-vogue-text.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Classy Vogue';
  src: url('./assets/fonts/ClassyVogue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin Pro Medium';
  src: url('./assets/fonts/AcuminPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vogue Text Italic';
  src: url('./assets/fonts/vogue-text-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('./assets/fonts/BodoniModa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('./assets/fonts/BodoniModa-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}